body {
  background: gray;
}

html, body {
	height: 100%;
}


.page-header {
	position: fixed;
}

#logo {
	font-size: 2em;
}

#layout {
	max-height: 60%;
	left: 0;
	top: 60px;
	position: relative;	
	overflow: scroll;
	padding-bottom: 60px;
	color: white;
	font-weight: lighter;
}

.footer {	
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 90%;
}


.buttonWrap {
	float: right;
	height: 35px;
}

.speech-left-title {
	color: white;
	text-shadow: none;

}
