html, body {
	height: 100%;
}

#layout {
	max-height: 60%;
	left: 20px;
	top: 60px;
	position: relative;	
	overflow: scroll;
	padding-bottom: 60px;
}

h1 {
	font-size: 2em !important;
}

.pure-form {	
	position: absolute;
	left: 10px;
	bottom: 20px;
}